* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

.navbar {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar .icons .cart {
    margin: 20px;
}

main {
    background-color: #E5E5E5;
}

main a {
    text-decoration: none;
}

main .product-store{
    width: 100%;
    height: 100vh;
    background-color: white;
    display: none;
    padding: 20px;
    z-index: 1;
    position: fixed;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll !important;
    z-index: 1;
}

main .product-store .product-store-prices {
    display: flex;
}

main .product-store .product-store-price {
    margin-right: 10px;
}

main .product-store .product-store-sizes {
    margin: 10px 0;
    height: 35px;
}

main .product-store .size {
    padding: 7px;
    border: 1px solid;
    text-decoration: none;
    color: black;
}

main .text-info, .product-store-installments {
    color: #A7A7A7;
}

main .product-store .submit {
    width: 150px;
    height: 30px;
    background-color: black;
    color: white;
    margin-bottom: 50px;
}

main .count_products {
    padding: 20px 0 0 20px;
    color: #756767;
}

main .products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    padding: 10px;

}

main .products .product {
    width: 98%;
    height: 460px;
}

main .products .product .product-description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main .products .product .product-image {
    height: 400px;
    width: 100%;
}

main .products .product .product-image img {
    height: 100%;
    width: 100%;
}

main .products .product .product-name p {
    font-weight: bold;
    color: black;
}

main .products .product .product-price p {
    color: black;
}

@media (max-width: 800px) {
    main .products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
        padding: 10px;
    }
}

@media (max-width: 400px) {
    main .products {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 600px) {
    main .product-store {
        flex-direction: column;
    }

}
